{% extends 'base.html'%}
{% block content %}
<div class="grid-main-container">
  <div class="picture-container">
    <img src="../static/home/image/home/foto-red.png" alt="red-pic">
    <img src="../static/home/image/home/foto-cyan.png" alt="cyan-pic">
    <img src="../static/home/image/home/foto-yellow.png" alt="yellow-pic">
    <img src="../static/home/image/home/foto.jpg" alt="display-pic">
  </div>
  <div class="flex-column-container">
    <h2>Maheswara Ananta Argono</h2>
    <h2>Computer Science 2019</h2>
    <h2>University Of Indonesia</h2>
    <h2>NPM : 1906398471</h2>
  </div>
  <div class="layerbox">
    <div class="description-box">
      <div class="interest-title">
        <h3 data-title="DESCRIPTION">DESCRIPTION</h3>
      </div>
      <p>Hi my name is Anan! In the making of this website, I am currently 19 years old. I am very passionate about programming, that is why i went to study computer science as my major subject in university. My source of motivation towards programming drives me to do my best and be more eager in improving my computer science skill.</p>
  </div>
  </div>
  <div class="astronaut">
    <img src="../static/home/image/home/RealAstro.png" alt="astronaut">
  </div>
  <div class="futuristic">
    <h1 class="Fut"data-title="Future Programmer">Future Programmer</h1>
  </div>
  <div class="interest">
    <div class="interest-box">
      <div class="interest-title">
        <h3 data-title="INTEREST">INTEREST</h3>
      </div>
      <h4>
        WEB DEVELOPMENT<br>
        GAME DEVELOPMENT<br>
        CYCLING
      </h4>
    </div>
  </div>
</div>
{% endblock %}