{% extends 'base.html'%}
{% block content %}
<div class="contact-flex">
  <div class="flex-column-container" id="contact">
    <div class="contact-icon">
      <i class="fab fa-instagram-square"></i></i><h2>@anantus</h2><br>
    </div>
    <div class="contact-icon">
      <i class="fas fa-envelope-square"></i><h2>maheswaraananta@gmail.com</h2><br>
    </div>
    <div class="contact-icon">
      <i class="fab fa-linkedin"></i><h2>maheswara ananta</h2><br>
    </div>
    <div class="contact-icon">
      <i class="fas fa-address-book"></i><h2>+62 813 1792 7436</h2><br>
    </div>
  </div>
</div>
{% endblock %}