{% extends 'base.html'%}
{% block content %}
<div class="contact-flex schedule-details">
  <div class="flex-column-container delete-box" id="contact">
    <h2>Delete Mata Kuliah</h2>
    <form method = "POST" >
      {% csrf_token %}
      <!-- <button type="button" name="submit" class="btn btn-warning">ADD</button> -->
      <p class="confirmDeletion">
          Are you sure you want to delete {{matkul.matkul}} from this list?
      </p>
      <input type="submit" value="Delete" />
      </form>
    </div>
  </div>
</div>
{% endblock %}