{% extends 'base.html'%}
{% block content %}
<div class="grid-main-container" id="grid-experience">
  <div class="education">
    <img src="../static/home/image/home/Education.png" alt="education">
  </div>
  
  <div class="layerbox" id="skill">
    <div class="description-box" >
      <div class="interest-title">
        <h3 data-title="SKILLS">SKILLS</h3>
      </div>
      <i class="fab fa-java"></i>
      <i class="fab fa-html5"></i>
      <i class="fab fa-css3-alt"></i><br>
      <i class="fab fa-python"></i>
      <i class="fab fa-adobe"></i>
    </div>
  </div>
  <div class="cd">
    <img src="../static/home/image/home/cd.gif" alt="" class="cd-player">
  </div>
  <div class="organization-pic">
    <img src="../static/home/image/home/litbang.jpg" alt="foto litbang">
  </div>
  <div class="history">
    <div class="organization-title">
      <h3 data-title="ORGANIZATION">ORGANIZATION</h3>
    </div>
  </div>
  <div class="organization">
    <h2 class="org-mobile">ORGANIZATION</h2>
    <h2>BEM UI: Research and<br>Development</h2>
    <h2>Mentor of Python<br>programming basics</h2>
    <h2>High School Computer<br>Science Club</h2>
  </div>
</div>
{% endblock %}