{% extends 'base.html'%}
{% block title%} Matkul - Maheswara Ananta {% endblock %}
{% block content %}
<div class="navblock"></div>
<div class="contact-flex">
  <div class="flex-column-container" id="contact">
    <div class="titleMatkul align-items-center">
      <h2>Mata Kuliah</h2><a href="{%url 'home:add-matkul' %}"><h2 class="add-icon"> ADD </h2></a><br>
    </div>
    {% for matkul in object_list %}
      <h2 class="scheduleList"><a href="{% url 'home:schedule-detail' matkul.pk %}">{{matkul.matkul}} - {{matkul.dosen}}</h2></a> 
      <a href="{%url 'home:delete' matkul.pk %}" class="deletematkul"><h3 class="delete-icon">X</h3></a><br>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}