{% extends 'base.html'%}
{% block content %}
<div class="flex-container">
  <div id="middle-bg">
    <h1 class="greeting" data-title="Hi, my name is Anan!" href="#About">Hi, my name is Anan!</h1>
  </div>
</div>
{% endblock %}