{% extends 'base.html'%}
{% block content %}
<div class="contact-flex schedule-details">
  <div class="flex-column-container" id="contact">
    <h2>Mata Kuliah : {{matkul.matkul}}</h2><br>
    <h2>Dosen : {{matkul.dosen}}</h2><br>
    <h2>SKS : {{matkul.sks}}</h2><br>
    <h2>Tahun : {{matkul.tahun}}</h2><br>
    <h2>Deskripsi : {{matkul.deskripsi}}</h2><br>
    <h2>Ruang : {{matkul.ruang}}</h2><br>
    <h2 class="back"><a href="{%url 'home:schedule'%}">Back</a></h2>
    </div>
  </div>
</div>
{% endblock %}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis blanditiis, odio doloremque, libero labore ex a harum est id explicabo unde! Praesentium eius vero odit sapiente! Delectus laudantium nisi libero?