{% extends 'base.html'%}
{% block content %}
    <div class="flexbox-container-s1">
        <div class="flexbox-item item-1-s1"><img src="../static/home/image/home/foto.jpg" alt = "foto Anan"></div>
        <div class="flexbox-item-s1 item-2-s1">
            <h2 class="s">Hi</h2> 
            <h2 class="s">I'm</h2> 
            <h2 class="s">Anan</h2>  
            <h2 class="s">!</h2>  
            <p class="s">
                Maheswara Ananta Argono | 1906398471 <br>
                Fasilkom UI 2019, Future Programmer
            </p>  
        </div>
    </div>
    <div class="grid-container-s1">
        <div class=" grid-item-s1 grid-1-s1">
            <h3 class="s">DESCRIPTION</h3>
            <p class="s">
                I am very passionate about programming, that is why i went to study computer science as my major subject in university. My source of motivation towards programming drives me to do my best and be more eager in improving my computer science skill.
            </p>
        </div>
        <div class=" grid-item-s1 grid-2-s1">
            <h3 class="s">HOBBIES</h3>
            <p class="s">
                <ul class="s">
                    <li class="s">Gaming</li>
                    <li class="s">Watch Movies</li>
                    <li class="s">Cycling</li>
                    <li class="s">Coding</li>
                </ul>
            </p>
        </div>
        <div class="grid-item-s1 grid-3-s1">
            <h3 class="s">PREVIOUS EDUCATION</h3>
            <p id="school-s1">
                SD Mentari Intercultural School Bintaro (2007-2013) <br>
                SMP Highfield  (2013 - 2016) <br>
                SMAK 7 BPK PENABUR (2016 - 2019)
            </p>
        </div>
    </div>
{% endblock %}
