{% extends 'base.html'%}
{% block content %}
<div class="navblock"></div>
<h2>Buku Tamu</h2><br> 
<div class="d-flex flex-wrap">
  {% for acara in list %}
  <div class="p-2 bd-highlight bg-white">
    <h4 class="nama-acara">{{ acara }}</h4>
    {% for na in nama_peserta %}
      {% if na.BukuTamu == acara%}
      <p class="nama-peserta">{{ na }}</p>
      {% endif %}
    {% endfor %}
    <a href="/story6/tambah-tamu">Daftar Tamu</a>
  </div>
  {% endfor %}
  <div>
    <a href="/story6/tambah-acara">
      <h2>
        Tambah<br>
        Acara
      </h2>
    </a>
  </div>
</div>
{% endblock %}