{% extends 'base.html'%}
{% block title%} Daftar acara - Maheswara Ananta {% endblock %}
{% block content %}
<div class="flex-container schedule-details align-items-center justify-content-center">
  <div class="add-form">
    <h2>Daftarkan Acara</h2>
    <form method = "POST" >
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
    </form>
  </div>
</div>
{% endblock %}