{% extends 'base.html'%}
{% block content %}
<br>
<br>
<br>
<div class="flex-container schedule-details align-items-center justify-content-center">
  <div class="add-form">
    <h2>Register...</h2>
    <form method = "POST" >
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
    </form>
  </div>
</div>
{% endblock %}