{% extends 'base.html'%}
{% load static %}
{% block css%}
<link rel="stylesheet" href="{% static 'anotherstyle.css' %}" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
<div class="navblock"></div>
<h1>Accordion</h1>
  <div class="accordion container">
    <div class="OrderingField row">
      <div class="col-auto d-flex flex-column justify-content-center align-items-stretch">
        <button value='up' class="btn btn-success">Up</button>
			  <button value='down' class="btn btn-warning">Down</button>
      </div>
      <div class="col">
        <div class="accordion-header">Search Items</div>
        <div class="accordion-content">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-danger text-white" id="inputGroup-sizing-sm">Search Books</span>
            </div>
            <input type="text" class="form-control" id="keyword" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <ol id="hasil">
          </ol>
        </div>
      </div>
    </div>
    <div class="OrderingField row">
      <div class="col-auto d-flex flex-column justify-content-center align-items-stretch">
        <button value='up' class="btn btn-success">Up</button>
			  <button value='down' class="btn btn-warning">Down</button>
      </div>
      <div class="col">
        <div class="accordion-header">Organisasi/Panitia</div>
        <div class="accordion-content">Saat ini saya hanya mengikuti Organisasi Biro penelitian dan pengembangan bem ui 2020, namun sebelumnya saya pernah mengikuti OSIS SMP dan Sains Club Jenjang Informatika</div>
      </div>
    </div>
    <div class="OrderingField row">
      <div class="col-auto d-flex flex-column justify-content-center align-items-stretch">
        <button value='up' class="btn btn-success">Up</button>
			  <button value='down' class="btn btn-warning">Down</button>
      </div>
      <div class="col">
        <div class="accordion-header">Prestasi</div>
        <div class="accordion-content">Coming Soon! Coming Soon! Coming Soon! Coming Soon! Coming Soon! Coming Soon! Coming Soon! Coming Soon! Coming Soon! Coming Soon! Coming Soon! Coming Soon! Coming Soon! Coming Soon! Coming Soon! Coming Soon! Coming Soon! Coming Soon! Coming Soon! Coming Soon! Coming Soon! Coming Soon!</div>
      </div>
    </div>
    <div class="OrderingField row">
      <div class="col-auto d-flex flex-column justify-content-center align-items-stretch">
        <button value='up' class="btn btn-success">Up</button>
			  <button value='down' class="btn btn-warning">Down</button>
      </div>
      <div class="col">
        <div class="accordion-header">Goals</div>
        <div class="accordion-content">Lulus di waktu yang tepat, dapet banyak ilmu dan bisa mengimplementasikan ilmunya untuk sesuatu yang benar.</div>
      </div>
    </div>
    
</div>
{% endblock %}
{% block script%}
<script>
  $(".accordion").on("click", ".accordion-header", function() {
  $(this).toggleClass("active").next().slideToggle();
});
function moveUp(item) {
    var prev = item.prev();
    if (prev.length == 0)
        return;
    prev.css('z-index', 999).css('position','relative').animate({ top: item.height() }, 250);
    item.css('z-index', 1000).css('position', 'relative').animate({ top: '-' + prev.height() }, 300, function () {
        prev.css('z-index', '').css('top', '').css('position', '');
        item.css('z-index', '').css('top', '').css('position', '');
        item.insertBefore(prev);
    });
}
function moveDown(item) {
    var next = item.next();
    if (next.length == 0)
        return;
    next.css('z-index', 999).css('position', 'relative').animate({ top: '-' + item.height() }, 250);
    item.css('z-index', 1000).css('position', 'relative').animate({ top: next.height() }, 300, function () {
        next.css('z-index', '').css('top', '').css('position', '');
        item.css('z-index', '').css('top', '').css('position', '');
        item.insertAfter(next);
    });
}

$(".FieldContainer").sortable({ items: ".OrderingField", distance: 10 });
$('button').click(function() { 
    var btn = $(this);
    var val = btn.val();
    if (val == 'up')
        moveUp(btn.parents('.OrderingField'));
    else
        moveDown(btn.parents('.OrderingField'));
});


$('.FieldContainer a.add').click(function(){

    $('.FieldContainer').append(

    '<div class="OrderingField">'+
    '<div class="LeftFloat">'+
    'Item'+
    '</div>'+
    '<div class="RightFloat Commands">'+
    '<button value="up" >Up</button>'+
    '<button value="down" >Down</button>'+
    '</div>'+
    '</div>');

    $(".FieldContainer").sortable("destroy");

$(".FieldContainer").sortable({ items: ".OrderingField", distance: 10 });
$('button').click(function() { 
    var btn = $(this);
    var val = btn.val();
    if (val == 'up')
        moveUp(btn.parents('.OrderingField'));
    else
        moveDown(btn.parents('.OrderingField'));
});
});

$("#keyword").keyup( function(){
    var isi_keyword = $("#keyword").val();
    console.log(isi_keyword);
    var url_utk_dipanggil = '/story7/data?search=' + isi_keyword;
    console.log(url_utk_dipanggil);
    $.ajax({
      url: url_utk_dipanggil,
      success: function(hasil) {
        console.log(hasil.items);
        var obj_hasil = $("#hasil");
        obj_hasil.empty();

        for(i = 0; i < hasil.items.length; i++){
          var tmp_title = hasil.items[i].volumeInfo.title;
          var tmp_thumbnails = hasil.items[i].volumeInfo.imageLinks.smallThumbnail;
          var tmp_publisher = hasil.items[i].volumeInfo.publisher
          var tmp_link = hasil.items[i].volumeInfo.canonicalVolumeLink;

          console.log(tmp_title);
          obj_hasil.append('<li> Title : <br>   ' + tmp_title + '<br> Publisher  :<br>    '+ tmp_publisher +'<br> <img src=' + tmp_thumbnails + '> </li>')
        }
      }
    })
})
</script>
{% endblock%}