<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <!-- <link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css"> -->
   {% block css%}
   {% endblock %}
   <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Secular%20One">
   <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Red%20Rose">
   <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Roboto">
   <script src="https://kit.fontawesome.com/4c0a41235a.js" crossorigin="anonymous"></script>
  <title>Maheswara Webpage</title>
</head>
<body>
<!-- ---------------NavBar------------------ -->
  <header>
    <div class="container">
      <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          <img src="../static/home/image/home/playpause.png" height="25"class="d-inline-block align-top" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home:index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home:about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home:experience' %}">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'story7:accordion' %}">Accordion</a>
            </li>
            {%if user.is_authenticated%}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home:schedule' %}">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'story6:bukutamu' %}">Activity</a>
            </li>
            {%endif%}
          </ul>
        </div>
        <form class="form-inline">
          {%if user.is_authenticated%}
            <a class="text-white">Welcome {{user.username}}!</a>
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          {%else%}
            <a class="nav-link" href="{% url 'members:register' %}">Register</a>
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          {%endif%}
        </form>
      </nav>
    </div>
  </header>
  {% block content %}
  {% endblock %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  {% block script %}
  {% endblock %}
</body>
</html>