body{
  background: url(./image/home/tv.gif);
  margin: 0%;
  padding: 0%;
}
a{
  text-decoration: none;
  color: black;
}
a:link{
  text-decoration: none;
  color: black;
}
a:hover,a:visited, a:active{
  text-decoration-color: yellow;
  text-decoration: none;
}
.navbar {
  width: auto;
  border-radius: 30px;
} 
.flex-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
i{
  font-size: 6vw;
  margin: 0;
  color: white;
}
.contact-icon{
  display: flex;
  align-items: center;
}
#middle-bg{
  position: absolute;
  border-radius: 30px;
  /* background: url(./image/home/title-bg.png); */
  background-position: center;
  background-size: cover;
  width: 80vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  h1{
  position: absolute;
  font-family: 'Secular One', serif;
  font-weight: 750;
  width: 60vw;
  font-size: 5vw;
  color: red;
  transition: .5s;
  text-shadow: 0 5px 0 rgb(0,0,0),
  0 1vw 4vw rgba(0,0,0,.5),
  0 2vw 3vw rgba(0,0,0,.4),
  0 3vw 2vw rgba(0,0,0,.3);
}
h1:hover{
  text-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}
h1::before,
h1::after{
  position: absolute;
  top: -10px;
  left: 0;
  content: attr(data-title);
  transition: 0.5s;
  color: white;
  text-shadow: 0 5px 20px rgba(255, 166, 0, 0.507);
}
h1::before{
  top: -5px;
  color: orange;
  text-shadow: 0 5px 20px red;
}
h1:hover::before{
  top: -7.5px;
  left: 7.5px;
}
h1:hover::after{
  top: -15px;
  left: 15px;
}
h3{
  position: relative;
  font-family: 'Secular One', serif;
  font-weight: 750;
  font-size: 4.5vw;
  color: black;
  transition: .5s;
  text-shadow: 0 5px 0 rgb(0,0,0),
  0 1vw 4vw rgba(0,0,0,.5),
  0 2vw 3vw rgba(0,0,0,.4),
  0 3vw 2vw rgba(0,0,0,.3);
}
h3:hover{
  text-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}
h3::before,
h3::after{
  position: absolute;
  top: -10px;
  left: 0;
  content: attr(data-title);
  transition: 0.5s;
  color: black;
  text-shadow: 0 5px 20px rgb(255, 255, 255);
}
h3::before{
  top: -5px;
  color: white;
  text-shadow: 0 5px 20px rgb(0, 0, 0);
}
h3:hover::before{
  top: -7.5px;
  left: 7.5px;
}
h3:hover::after{
  top: -15px;
  left: 15px;
}
.back{
  border: solid 10px white;
  background: none;
  color: white;
  font-size: 0.5 em;
}
p{
  font-family: 'Red Rose';
  font-size: 1.8vw;
}
h2{
  font-family: 'Secular One';
  font-size: 3.5vw;
  background-color: white;
  margin: 10px;
  width: auto;
  display: inline-block;
  white-space: nowrap;
}
h2:hover{
  animation: shake 1s;
  animation-iteration-count: infinite;
}
h4{
  font-size: 3vw;
}

.fixed-top{
  margin: 15px;
  left: 0px;
}
.navbar-brand{
  margin: 0%;
  margin-right: 30px;
  margin-left: 10px;
}
.navbar-nav{
  font-size: 2.5vw;
  font-weight: 500;
}
.navbar-dark{
  background-color: black;
}
.navbar-dark .navbar-nav > .nav-item > a {
  font-family: 'Red Rose';
}
.navbar-dark .navbar-nav > .nav-item > a:hover {
    color: yellow;
}
.grid-main-container{
margin-top: 30px;
height: auto;
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: 1.3fr 0.7fr 0.25fr 0.5fr;
}
.picture-container {
  grid-row: 1;
  grid-column: 1 / span 2;
  position: relative;
  width: 20vw;
  height: 60vh;
  margin-top: 110px;
  margin-left: 10vw;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}
.picture-container img{
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.picture-container img:nth-child(4){
  top: -30px;
  left: 30px;
}
.picture-container:hover img:nth-child(4){
  transform: translate(20%, -6%);
} 
.picture-container img:nth-child(3){
  top: -20px;
  left: 20px;
}
.picture-container:hover img:nth-child(3){
  transform: translate(15%, -4.5%);
} 
.picture-container img:nth-child(2){
  top: -10px;
  left: 10px;
}
.picture-container:hover img:nth-child(2){
  transform: translate(10%, -3%);
} 
.picture-container:hover img:nth-child(1){
  transform: translate(5%, -3%);
} 

.flex-column-container{
  padding: 80px;
  grid-column: 3/ span 4;
  grid-row: 1;
}
.layerbox{
  display: flex;
  grid-row: 2 / span 2;
  grid-column: 1 /span 3;
  justify-content: center;
  align-items: flex-end;
}
.layerbox img{
  position: absolute;
  width: 40vw;
}
.description-box{
  background: cyan;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-left: 3vw;
  position: relative;
  padding-top: 4vh;
  width: 70%;
}
#skill{
  padding: 1vh;
  text-align: center;
  line-height: 20vh;
}
#skill i{
  letter-spacing: 3vw;
  color: rgb(75, 73, 73);
}
i:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.cd{
  grid-row: 2;
  grid-column: 4 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.astronaut{
  display: flex;
  grid-row: 2;
  grid-column: 4 / span 3;
  justify-content: center;
  align-items: flex-end;
}
.astronaut img{
  position: relative;
  height: 70vh;
  width: 30vw;
  -webkit-animation: rotation 30s infinite linear;
}
.astronaut img:hover{
  -webkit-animation: rotation 0.5s infinite linear;
}
.futuristic{
  grid-row: 4;
  grid-column: 2 / span 2;
  height: 60vh;
  width: 40vw;
  display: flex;
  align-items: center;
}
.futuristic h1{
  text-align: end;
  position: relative;
  border: yellow dotted 10px;
}
.futuristic h1::before{
  color: orange;
}
.futuristic h1::after{
  color: yellow;
}
.interest{
  display: flex;
  grid-row: 3 / span 2;
  grid-column: 4 / span 3;
  justify-content: center;
  align-items: flex-start;
  justify-self: center;
}
.interest-box{
  background: yellow;
}
.interest-title{
  top: 3vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.interest h4{
  position: relative;
  line-height: 3em;
  text-align: center;
}
.interest h3:hover::before{
  top: -10px;
  left: -10px;
}
.interest h3:hover::after{
  top: -20px;
  left: -20px;
}
.interest img{
  position: absolute;
  width: 40vw;
}
.education{
  margin-top: 50vh;
  height: 4vh;
  grid-row: 1 / span 1;
  grid-column: 1 / span 6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.education img{
  width: 80vw;
}
.history{
  grid-row: 3;
  grid-column: 4 / span 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.organization-title{
  background: cyan;
}
.org-mobile{
  display: none;
}
.organization{
  grid-row: 4;
  grid-column: 4 / span 3;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.organization-pic{
  grid-row: 4;
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.organization-pic img{
  width: 20vw;
  height: 35vh;
  position: absolute;
}
.organization-pic img:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.contact-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.add-form{
  margin-top: 10vh;
  padding: 30px;
  background: #00a2ff;
  border-radius: 30px;
}
.add-icon{
  display: inline-block;
  color: orange;
  border: solid orange 5px;
  border-radius: 5px;
  font-size: 1em;
}
.delete-icon{
  display: inline-block;
  color: red;
  border: solid red 5px;
  border-radius: 5px;
  font-size: 1em;
}
.schedule-details{
  margin-top: 15vh;
}
.delete-box{
  width: auto;
  background: red;
}
.delete-box p{
  font-size: 5vw;
  color: white;
}
.navblock{
  height: 20vh;
}
@media (max-width: 600px){
  h3{
    font-size: 8vw;
  }
  #middle-bg{
    background: none;
  }
  #middle-bg h1{
    top: 10vh;
    font-size: 80px;
    border: white solid 10px;
  }
  .navbar{
    width: 100%;
  }
  .navbar-nav{
    width: auto;
  }
  .grid-main-container{
  grid-template-columns: 100vw;
  grid-template-rows: 70vh 65vh 100vh 60vh;
  }
  .grid-main-container p{
    font-size: 4vw;
  }
  .picture-container{
    width: 50vw;
    grid-column: 1;
    grid-row: 1;
  }
  .flex-column-container{
    grid-column: 1;
    grid-row: 2;
  }
  .flex-column-container h2{
    font-size: 5vw;
  }
  .layerbox{
    grid-column: 1;
    grid-row: 3;
    align-items: center;
  }
  .description-box{
    margin-left: 0;
    width: 70vw;
    height: auto;
  }
  .astronaut{
    display: none;
  }
  .futuristic{
    display: none;
  }
  .interest{
    grid-column:1 ;
    grid-row: 4;
  }
  .interest-box{
    width: 50vw;
  }
  #grid-experience{
    grid-template-rows: 50vh 65vh 65vh;
  }
  .education{
    margin-top: 20vh;
  }
  .cd{
    display: none;
  }
  #skill i{
    font-size: 50px;
    line-height: 30px;
  }
  .organization-pic{
    display: none;
  }
  .org-mobile{
    margin-top: 30px ;
    display: inline;
  }
  #skill{
    grid-column: 1;
    grid-row: 2;
    justify-content: center;
  }
  .history{
    display: none;
  }
  .organization{
    grid-column: 1;
    grid-row: 3;
    flex-direction: column;
  }
  .schedule{
    color: #b9b7b7;
    border-radius: 20px;
  }
  .schedule-details{
    margin-top: 0;
  }

}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}




/*------------------------------------------------------------
END OF LINE
--------------------------------------------------------------*/
