.flexbox-container-s1{
  display: flex; /*menata posisi box*/
  justify-content: flex-start; /* flexbox ada di kiri, bergantung pada main axis (Sb x) */
  align-items: center; /*flexbox ada di tengah pada cross axis (Sb y) */
}
.item-1-s1{
  padding: 0%;
  margin: 70px;
}
.item-1-s1 img{
  border: 10px solid white;
  border-radius: 10px;
  padding: 0%;
  margin: 5px 30px;
  width: 300px;
}
.item-2-s1{
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  color: black;
}
.item-2-s1 h2{
  text-transform: uppercase;
  font-size: 5em;
}
.item-2-s1 p{
  margin: 0%;
  padding: 0%;
  font-size: 20px;
  color: #a83d2c;
  letter-spacing: 0.3em;
}
.grid-container-s1{
  font-family: "Lucida Console", Monaco, monospace;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}
.grid-container-s1 h3,.grid-container-s1 li{
  color: white;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: .5em;
  margin-top: 0%;
  margin-bottom: 0%;
}
.grid-container-s1 li{
  font-size: 30px;
  padding: 1em;
}
.grid-container-s1 p{
  color: white;
  font-size: 20px;
}
.grid-item-s1 {
  border: 5px solid #a83d2c;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}
.grid-1-s1{ /*Description*/
  grid-area: 1 / 1 / 1 / span 2;
}
.grid-2-s1{ /*hobbies */
  grid-area: 1 / 3 / span 2 / 3;
}
.grid-3-s1{ /*Previous School */
  grid-area: 2 / 1 / 2 / span 2;
}